/*      

    모든 다크모드는 해당 파일에 작성할것

    z-index가 적용된 클래스는 라이트 모드에서 background-color 를 먼저 지정해줘야한다.

    css에

    backgournd-color : var(변수)
    color : var(변수)

    를 먼저 적용하고 이 다크모드를 작성하도록 한다.

    스크립트도 추가해준다.

    작성 양식 -> 클래스이름.dark-mode{}
    하위 요소 특정해서 지정해야 할때 예) 이미지 파일에만 적용해야 할 경우 -> 클래스이름.dark-mode .클래스이름 img{}
    
*/


/* body 태그용 */
.dark-mode {
    background-color: var(--background-color-dark); /* 다크 모드로 전환 */
    color: var(--text-color-dark) ;
    transition: background-color 2s, color 2s ;
}

.sidebar.dark-mode{
    background-color: var(--background-color-dark); /* 다크 모드로 전환 */
    color: var(--text-color-dark) ;
}

.sidebar.dark-mode .menu > img{
    filter: invert(100%);
}

.sidebar.dark-mode .profile > img{
    filter: invert(100%);
}

.sidebar.dark-mode .sidebar-item > img{
    filter: invert(100%);
    
}

.sidebar.dark-mode .toggle-container img{
    filter: invert(100%);

}



.navigation.dark-mode{
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
}

.navigation.dark-mode .navigation-menu-icon{
    filter: invert(100%);
}

.music-player.dark-mode{
    background-color: var(--background-color-dark2); /* 다크 모드로 전환 */
    color: var(--text-color-dark) ;
}




