/* 기본 스타일 */
.list-albums {
    margin-bottom: 20px;
    padding-bottom: 25px;
    border-bottom: 1px solid #eee;
}

.list-albums-title {
    margin-top: 25px;
    font-size: 15px;
    margin-bottom: 20px;
}

.list-albums-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* auto-fit으로 화면 크기에 따라 조절 */
    gap: 20px;
    
}
.album-info-text{
    border-bottom: 1px solid #ddd;
    padding-top: 25px;
    padding-bottom: 50px;
}

.list-album-item {
background-color: #eee;
text-align: center;
border-radius: 15px;
padding: 10px;
max-width: 250px; /* 최대 크기를 300px로 제한 */
    margin: 0 auto; /* 가운데 정렬 */
}
/* 호버 시 스타일 */
.list-album-item:hover {
    background-color: #f4f4f4; /* 배경색 변화 */
    transform: scale(1.02); /* 살짝 확대 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
}

.list-album-image {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.list-album-name {
    font-size: 14px;
    color: #000000;
}

.list-album-artist {
    font-size: 12px;
    color: #333;
}

.artist-name a {
    color: #0056b3;
    text-decoration: none;
    transition: color 0.3s;
}

.artist-name a:hover {
    color: #ff8800;
    text-decoration: underline;
}

/*!* Media query for smaller monitors (3 items per row) *!*/
/*@media (max-width: 1200px) {*/
/*    .list-albums-list {*/
/*        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); !* 3개 아이템 표시 *!*/
/*    }*/
/*}*/

/*!* Media query for tablets and small screens (2 items per row) *!*/
/*@media (max-width: 768px) {*/
/*    .list-albums-list {*/
/*        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); !* 2개 아이템 표시 *!*/
/*    }*/
/*}*/

/*!* Media query for mobile (1 item per row) *!*/
/*@media (max-width: 480px) {*/
/*    .list-albums-list {*/
/*        grid-template-columns: 1fr; !* 1개 아이템 표시 *!*/
/*    }*/
/*}*/
