    /* 공통 스타일 */
    .content {
        margin: 20px;
    }

    .content-header {
        margin-top: 20px;
        height: 50px;
        font-size: 2rem;
        display: flex;
        align-items: center;
    }

    .content-body {
        margin-top: 20px;
    }

    .table-container {
        width: 100%;
        border-collapse: collapse;
        overflow-x: auto;
        white-space: nowrap;
    }

    .table-container th, .table-container td {
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    .table-container th {
        background-color: #9d9d9d;
        font-weight: bold;
    }

    .editable-field {
        width: 100%;
        padding: 6px;
        font-size: 1rem;
        display: none; /* 기본적으로 숨김 */
    }

    .table-container td button {
        padding: 6px 12px;
        font-size: 0.9rem;
        border-radius: 4px;
        cursor: pointer;
    }
    .table-wrapper {
        width: 100%;
        overflow-x: auto;  /* 가로 스크롤 활성화 */
    }

    .table-container td button.edit-button {
        background-color: #4CAF50;
        color: white;
        border: none;
    }

    .table-container td button.apply-button {
        background-color: #2196F3;
        color: white;
        border: none;
        display: none; /* 기본적으로 숨김 */
    }

    .table-container td button.cancel-button {
        background-color: #FF5252;
        color: white;
        border: none;
        display: none; /* 기본적으로 숨김 */
    }

    @media (max-width: 768px) {
       .table-container {
            font-size: 0.9rem;
       }
    }
