.content-header {
    display: flex;
    flex-direction: column;
}

.content-header-info{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.sound-image {
    width: 350px;
    height: 350px;
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 8px;
    /*object-fit: cover;*/
}

.sound-info {
    display: flex;
    flex-direction: column;
}

.sound-title {
    margin-bottom: 10px;
}

.artist-name {
    color: #555;
    margin-bottom: 5px;
}

.sound-info-reaction {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.btn {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.sound-btn:hover {
    background-color: #0056b3;
    color: white;
}

/*.content-body {
    margin-top: 20px;
}*/

.track-list {
    list-style-type: none;
    padding: 0;
}

.track-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.track-name {
    font-size: 16px;
}

.track-duration {
    font-size: 14px;
    color: #777;
}

/* 아티스트의 다른 앨범 리스트 스타일 */
.other-sounds {
    margin-bottom: 20px;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
}

.other-sounds-title {
    font-size: 20px;
    margin-bottom: 20px;
}

.other-sounds-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.other-sound-item {
    width: 150px;
    text-align: center;
}

.other-sound-image {
    width: 100%;
    height: 150px;
    /*object-fit: cover;*/
    border-radius: 5px;
    margin-bottom: 10px;
}

.other-sound-name {
    font-size: 14px;
    color: #333;
}

/*  */
.sound-tag-list {

    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.tag-category {
    font-size: 20px;
    margin-bottom: 20px;
}

.tag-items {

    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 15px;
    margin-top: 10px;
}

.tag-items span {
    font-size: 14px;
    padding: 5px 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tag-items span:hover {
    background-color: #0056b3;
    color: white;
}

.artist-name a {
    color: #0056b3; /* 링크 색상 */
    text-decoration: none;
    transition: color 0.3s;
}

.artist-name a:hover {
    color: #ff8800; /* 링크에 마우스를 올렸을 때의 색상 */
    text-decoration: underline;
}

/* 모든 스타일을 #project-index 내부로 한정 */
#project-index {
    font-family: Arial, sans-serif;
    margin: 20px;
}
#project-index #top-section{
    display: flex;
    flex-direction: row;
}
#project-index #description{
    align-content: center;
    padding: 30px;
}
#project-index section {
    margin-bottom: 40px;
}
#project-index h1,
#project-index h2 {
    color: #333;
}
#project-index .team-members,
#project-index .additional-images {
    display: flex;
    gap: 20px;
}
#project-index .member {
    text-align: center;
}
#project-index .member img{
    width:200px;
}
#project-index img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
#project-index a {
    color: #007BFF;
    text-decoration: none;
}
#project-index a:hover {
    text-decoration: underline;
}
#project-index button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007BFF;
    border: none;
    color: white;
    border-radius: 4px;
}
#project-index button:hover {
    background-color: #0056b3;
}