<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sound Page</title>

    <link th:href="@{/css/album.css}" rel="stylesheet">
    <link th:href="@{/css/music.css}" rel="stylesheet">
    <link th:href="@{/css/album-list.css}" rel="stylesheet">
    <link th:href="@{/css/artist.css}" rel="stylesheet">
</head>
<body>

<div layout:fragment="content">
    <div class="content-header">
        <div class="content-header-info">
            <img class="sound-image" src="images/sample-album-imge.png" alt="sound Image">
            <div class="sound-info">
                <span>Artist</span><div class="sound-title font-size-large">Jonsi</div>
                <div class="artist-name font-size-medium">
                </div>
                <div class="sound-info-reaction">
                    <button class="btn sound-btn">Play sound</button>
                    <button class="btn sound-btn">Get sound</button>
                    <button class="btn sound-btn">Share sound</button>
                </div>
            </div>
        </div>
        <div class="album-info-text">
            <p class="album-description">
                Inspired by the deep, solid sound of Melodic Techno, ‘Fleck’ offers you a sample album of extensive, room quivering ideas and immediate inspiration for your new tracks.<br><br>
                This collection runs extremely heavy with analogue gear, over 90% of the sound sources are created on analogue synthesizers and vintage drum machines. This dedication to the retro sound ensures a sonic palette that surpasses your production beliefs. ‘Fleck - Melodic Techno’ nods at key producers including Tale Of Us, Mathame, Colyn, Fideles, and Dizharmonia. You’ll find content inspired by these legendary figures that can be used straight out the box for immediate impact or edit, manipulate and warp till your heart's content. The diverse 700+ Melodic Techno sample library ensures you’ll have what you need in the studio when you need it.<br><br>
                ‘Fleck - Melodic Techno’ has been intricately designed to give you the tools you need in today's Techno world. Take them for a spin, we know you’ll be happy and your studio running at 100% will be tickled pink too.

            </p>
        </div>
        <button class="album-btn show-more-btn">더보기</button>

        <!-- 앨범 모듈 -->
        <div  th:insert="~{module/album::albumModule}"></div>
        <!-- 곡 리스트 모듈 -->
        <div th:insert="~{module/music::musicModule}"></div>
    </div>
</div>

<th:block layout:fragment="script">
    <!--모듈 js-->
    <script th:src="@{/js/music.js}"></script>
    <script th:src="@{/js/album.js}"></script>

    <!-- 페이지 js -->
    <script th:src="@{/js/album-list.js}"></script>
</th:block>


</body>
</html>
