<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>music</title>
    <!-- module css -->
    <link th:href="@{/css/music.css}" rel="stylesheet">

</head>
<body>
    <div layout:fragment="content">
        <div class="content-header">
            <!-- tag body -->
            <div th:insert="~{module/tag :: tagModule}"></div>
            <!-- sort body -->
            <div th:insert="~{module/sort :: sortModule}"></div>
        </div>
        <!-- music body -->
    <div th:insert="~{module/music :: musicModule}"></div>
    </div>
</body>

<th:block layout:fragment="script">
    <!-- module js -->
    <script th:src="@{/js/tagStates.js}"></script>
    <script th:src="@{/js/tag.js}"></script>
    <script th:src="@{/js/sort.js}"></script>
    <!--  page js  -->
    <script th:src="@{/js/music.js}"></script>
</th:block>
</html>
