<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sound Page</title>
    <link th:href="@{/css/sound.css}" rel="stylesheet">
</head>
<body>

<div layout:fragment="content">
    <div class="content-header">
        
        <div class="content-header-info">
            <img class="sound-image" src="images/sample-album-imge.png" alt="sound Image">
            <div class="sound-info">
                <div class="sound-title font-size-large">Tornado</div>
                <div class="artist-name font-size-medium">
                    <span>Album</span> <a href="/album/go" class="album-link">Go</a>, 
                    <span>Artist</span> <a href="/artist/jonsi" class="artist-link">Jonsi</a>
                </div>
                <div class="sound-info-reaction">
                    <button class="btn sound-btn">Play sound</button>
                    <button class="btn sound-btn">Get sound</button>
                    <button class="btn sound-btn">Share sound</button>
                </div>
            </div>
        </div>
    
        <hr style="border: 1px solid #eee;">
        
        <!-- 곡마다 적절한 태그 보여주게끔 로직 필요 -->
        <div class="sound-tag-list">
            <div class="tag-category">
                <h3>Mood</h3>
                <div class="tag-items">
                    <span>Uplifting</span>
                    <span>Happy</span>
                    <span>Carefree</span>
                    <span>Hopeful</span>
                    <span>Exciting</span>
                </div>
            </div>
        
            <div class="tag-category">
                <h3>Instrument</h3>
                <div class="tag-items">
                    <span>Acoustic Guitar</span>
                    <span>Electric Guitar</span>
                    <span>Piano</span>
                    <span>Strings</span>
                    <span>Synth</span>
                    <span>Electronic Drums</span>
                </div>
            </div>
        
            <div class="tag-category">
                <h3>Genre</h3>
                <div class="tag-items">
                    <span>Corporate</span>
                </div>
            </div>
        </div>
        
    </div>

</div><!-- end content -->

</body>
</html>
