    .content-header{
        /* border: 1px solid black;  */
        margin-top: 20px;
        height: 50px; 
        font-size: 2rem;
        display: flex; 
        justify-content: center;
        /* align-items: center; */
    }

    .content-body{
        /* border: 1px black solid; */
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* padding: 60px; */
    }

    .login-form {
        /* border: 1px black solid; */
        
        border-radius: 8px;
        /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
        /* padding: 20px; */
        width: 100%;
        max-width: 400px;
        display: flex;
        flex-direction: column;
        gap: 20px; /* 각 입력 필드 그룹 간 간격 통일 */
        
    }



    .input-group {
        /* border: 1px black solid; */
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .input-group label {
        
        font-size: 14px;
        font-weight: bold;
        /* color: #333; */
    }

    .input-group input {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 14px;
        width: 100%;
        box-sizing: border-box;
    }

    .input-group input:focus {
        border-color: #5b9bd5;
        outline: none;
        box-shadow: 0 0 4px rgba(91, 155, 213, 0.5);
    }



    .login-form button {
        background-color: #5b9bd5;
        /* color: white; */
        font-size: 16px;
        font-weight: bold;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;

        /* font-size: 14px; */
        padding: 10px;
        /* border: 1px solid #ccc; */
        border-radius: 4px;
        /* box-sizing: border-box; */
    }

    .login-form button:hover {
        background-color: #4a86c5;
    }

    .content-footer {
        display: flex;
        justify-content: center;
        padding: 10px;
        /* border-top: 1px solid #ddd; */
    }

    .content-footer .separator {
        display: inline-block; /* 인라인 블록으로 변경 */
        margin: 0 30px;        /* 좌우 10px 마진 적용 */
    }

    a {
        color: #5b9bd5;
        text-decoration: none;
        font-size: 16px;
    }

    a:hover {
        text-decoration: none;
        color: darkgray;
    }

