<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Album Page</title>
    <!-- 모듈 사용시 로드 해야할 css -->
    <!-- <link th:href="@{/css/album.css}" rel="stylesheet">-->
</head>
<body>
    <!-- album body -->
    <div th:fragment="albumModule">
        <div class="list-albums">
            <h2 class="list-albums-title" >5개의 검색결과</h2>
            <h1 class="list-albums-title" >정렬 : 다운로드 순</h1>
            <div class="list-albums-list">
                <div class="list-album-item">
                    <img class="list-album-image" src="images/sample-album-imge.png" alt="Album Image">
                    <div class="list-album-name">Album Name 1</div>
                    <div class="list-album-artist">Jonsi</div>
                </div>
                <div class="list-album-item">
                    <img class="list-album-image" src="images/sample-album-imge.png" alt="Album Image">
                    <div class="list-album-name">Album Name 1</div>
                    <div class="list-album-artist">Jonsi</div>
                </div>
                <div class="list-album-item">
                    <img class="list-album-image" src="images/sample-album-imge.png" alt="Album Image">
                    <div class="list-album-name">Album Name 1</div>
                    <div class="list-album-artist">Jonsi</div>
                </div>
                <div class="list-album-item">
                    <img class="list-album-image" src="images/sample-album-imge.png" alt="Album Image">
                    <div class="list-album-name">Album Name 2</div>
                    <div class="list-album-artist">Jonsi</div>
                </div>
                <div class="list-album-item">
                    <img class="list-album-image" src="images/sample-album-imge.png" alt="Album Image">
                    <div class="list-album-name">Album Name 3</div>
                    <div class="list-album-artist">Jonsi</div>
                </div>
            </div>
        </div>
    </div>
</body>
    <!-- 모듈 사용시 로드해야할 js -->
<!--    <script type="text/javascript" th:src="@{/js/album}"></script>-->
</html>
