<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>music</title>

    <!-- music css -->
    <div th:fragment="musicCssModule">
        <link href="css/music.css" rel="stylesheet">
    </div>
</head>
<body>

    <!-- music body -->
    <div th:fragment="musicModule">
        <div class="content-body">
            <div class="music-item">
                <div class="music-item-left">
                    <img src="images/sample-album-imge.png" alt="앨범 이미지" class="music-album-img">

                    <div class="music-play-btn">
                        <img src="images/play_circle_50dp_5F6368_FILL0_wght400_GRAD0_opsz48.svg" alt="재생">
                    </div>

                    <div class="music-info">
                        <h3>Jonsi</h3>
                        <p>Go</p>
                    </div>

                    <div class="music-info-time">
                        <p>3:21</p>
                    </div>
                </div>

                <div class="music-item-center">
                    <div class="music-info-tag">
                        <span>피아노</span><span>즐거운</span>
                    </div>
                </div>

                <div class="music-item-right">
                    <div class="music-actions">
                        <img src="images/download_48dp_5F6368_FILL0_wght400_GRAD0_opsz48.svg" alt="다운로드">
                        <img src="images/shopping_bag_48dp_5F6368_FILL0_wght400_GRAD0_opsz48.svg" alt="장바구니">
                        <img src="images/link_50dp_5F6368_FILL0_wght400_GRAD0_opsz48.svg" alt="공유">
                    </div>
                </div>
            </div>
        </div>
        <input type="button" onclick="showTags()" value="선택된 태그는?">  
    </div>
</body>

    <!-- music js -->
    <div th:fragment="musicJsModule">
        <script src="js/music.js"></script>
    </div>
</html>
