<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- tag css -->
    <div th:fragment="tagCssModule">
        <link href="css/music.css" rel="stylesheet">
    </div>
</head>
<body>

    <!-- tag body -->
    <div th:fragment="tagModule">
        <div class="music-tag-sort">
            <div class="music-tag-sort-list">
                <img src="images/label_48dp_5F6368_FILL0_wght400_GRAD0_opsz48.svg" alt="태그">
                <span class="music-tag-sort-toggle" data-target="instrument">악기</span>
                <img src="images/arrow_drop_down_48dp_5F6368_FILL0_wght400_GRAD0_opsz48.svg" alt="늘리기">
                <span class="music-tag-sort-toggle" data-target="mood">분위기</span>
                <img src="images/arrow_drop_down_48dp_5F6368_FILL0_wght400_GRAD0_opsz48.svg" alt="늘리기">
                <span class="music-tag-sort-toggle" data-target="genre">장르</span>
                <img src="images/arrow_drop_down_48dp_5F6368_FILL0_wght400_GRAD0_opsz48.svg" alt="늘리기">
            </div>
            <div class="music-tag-display"></div>
        </div>
    </div>
</body>

    <!-- tag js -->
    <div th:fragment="tagJsModule">
        <script src="js/tagStates.js"></script>
        <script src="js/tag.js"></script>
    </div>
</html>
