<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div layout:fragment="content">
    <div class="content-header">
        문의하기
    </div>
    <div class="content-body">
        <div class="question-list">
            <div class="frequently-list">
                <span class="question-title">자주 있는 질문</span>
                <li>
                    아 몰라요 아무튼 안돼요
                    <img src="../images/chevron_right_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg">
                </li>
                <li>
                    아 몰라요 아무튼 안돼요
                    <img src="../images/chevron_right_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg">
                </li>
                <li>
                    아 몰라요 아무튼 안돼요
                    <img src="../images/chevron_right_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg">
                </li>
                <li>
                    아 몰라요 아무튼 안돼요
                    <img src="../images/chevron_right_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg">
                </li>
                <li>
                    아 몰라요 아무튼 안돼요
                    <img src="../images/chevron_right_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg">
                </li>
            </div>
            <div class="additional-list">
                <span class="question-title">추가적인 질문이 있다면</span>
                <li>
                    사이트 이용
                    <img src="../images/chevron_right_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg">
                </li>
                <li>
                    결제
                    <img src="../images/chevron_right_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg">
                </li>
                <li>
                    다운로드
                    <img src="../images/chevron_right_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg">
                </li>
                <li>
                    회원가입
                    <img src="../images/chevron_right_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg">
                </li>
                <li>
                    협업문의
                    <img src="../images/chevron_right_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg">
                </li>
            </div>
        </div>
    </div>
</div><!-- end article -->
</body>
<!-- 다크모드 js -->
<script src="../js/darkmode.js"></script>
<!-- 사이드바 확장 js -->
<script src="../js/sidebarExpand.js"></script>
<!-- 뮤직 플레이어 js -->
<script src="../js/musicPlayer.js"></script>
</html>
