        /* 전체 폼 스타일 */
form {
    max-width: 800px;
    margin: 0 auto;
}

/* 각 섹션 스타일 */
section {
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 5px;
    background-color: #9d9d9d;
}

section input, select {
    padding: 6px;
    margin-bottom: 10px;
    font-size: 1rem;
}

h1{
    overflow: hidden;
    white-space: nowrap;
}

section h3 {
    margin-bottom: 10px;
}

.tag-add-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

section h2 {
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 10px;
    font-size: 14px;
}

/* Select div 스타일 */
.select-div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.select-div select {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* 입력창 스타일 */
/*input[type="text"],*/
input[type="file"],
textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

form#myForm input{
    padding: 6px;
    margin-bottom: 10px;
    font-size: 1rem;
}

textarea {
    min-height: 120px; /* 적당한 크기 */
    resize: vertical; /* 수직으로만 크기 조절 가능 */
}

/* 버튼 스타일 */
button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* 선택된 태그 스타일 */
#selected-tags {
    list-style: none;
    padding: 0;
}


#selected-tags li button {
    background: none;
    border: none;
    color: #d9534f;
    cursor: pointer;
}

#selected-tags li {
    font-size: 12px;
    display: inline-block;
    margin: 4px;
    padding: 3px 3px;
    background-color: #e0e0e0;
    border-radius: 4px;
}

/* 태그 리스트 스타일 */
#tag-list {
    list-style: none;
    padding: 0;
}

#tag-list li {
    margin-bottom: 10px;
}

.tag-select label {
    display: inline-block;
    margin-right: 10px;
}

/* 추가된 섹션 버튼 스타일 */
.reset-tags {
    background-color: #b2ebf2;
    border: 1px solid #ccc;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
}

/* textarea 스타일 */
textarea {
    width: 98%;
    height: 120px; /* 공간 크기 설정 */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    resize: vertical;
}

/* 버튼 스타일 */
button {
    background-color: #2196F3;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* 버튼에 마우스를 올렸을 때 색상 변화 */
button:hover {
    background-color: #b2ebf2;
}

/* 모달 스타일 */
/*.modal-content {*/
/*    background: #fff;*/
/*    padding: 20px;*/
/*    border-radius: 8px;*/
/*    max-width: 400px;*/
/*    width: 100%;*/
/*}*/


/* 태그 검색 입력 스타일 */
#tag-search {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

/* modal 안의 태그 리스트 스타일 */
#tag-list {
    margin-bottom:revert;
    max-height: 28vh;
    overflow-y: auto;
    padding-right: 10px;
}

/* 모달 창 닫기 버튼 스타일 */
.close-modal {
    background-color: #ff8a80;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 0px;
    font-size: 16px;
}

.close-modal:hover {
    background-color: #ff5f57;
}

        #tag-modal {
            max-height: 80vh;
            overflow-y: auto;
            overflow-x: hidden;
            padding: 20px;
            box-sizing: border-box;
        }

.hidden {
    display: none;
}

#tag-list {
    list-style: none;
    padding: 0;
    margin: auto;
}

#tag-list li {
    padding: 8px;
    border: 1px solid #ddd;
    margin-bottom: 4px;
    cursor: pointer;
}

#selected-tags {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

